* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landingPageContainer {
    display: flex;
    flex-wrap: nowrap;
}

.landingLeftContent {
    flex: 1 2 auto;
}

.landingRightContent {
    flex: 2 2 auto;
}