
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    padding: 10px 25px;
    background-color: lightcyan;
    border-bottom: 1px solid blue;
}

.navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    justify-content: space-around;
}